.terminal {
    --size: 1.5;
    --color: rgba(255, 255, 255, 0.8);
}

.noblink {
    --animation: terminal-none;
}

body {
    background-color: #ffefd5;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.75rem;
}

a {
    text-decoration: none;
}

#jquery-terminal-logo {
    color: white;
    border-color: white;
    position: absolute;
    top: 7px;
    right: 18px;
    z-index: 2;
}

#jquery-terminal-logo a {
    color: gray;
    text-decoration: none;
    font-size: 0.7em;
}

#loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    border: 3px solid #172;
    border-radius: 50%;
    border-top-color: #ff3;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

#content {
    display: none;
    max-width: 50rem;
    margin: auto;
    padding: 0 1.2rem;
    height: 70dvh;
    overflow: auto;
}

.CodeMirror { height: auto; border: 1px solid #ddd; }

.CodeMirror-scroll { max-height: 200px; }

.CodeMirror pre { padding-left: 7px; line-height: 1.25; }

code {
    background-color: #cfd;
    color: #042;
    font-size: 1.1rem;
    padding: 0 0.5rem;
    border-radius: 0.6rem;
}

h3 {
    border-bottom: 1px solid #cc9;
}

button {
    display: block;
    font-family: monospace;
    background-color: #fe3;
    border: 1px solid #fc7;
    border-radius: 0.5rem;
    color: #333;
    padding: 0.4rem;
    margin: 0.5rem 0;
    text-align: center;
    font-size: 0.8rem;
}

.ch-links {
    width: 100%;
    font-size: 1.1rem;
    margin: 1rem 0;
}

.prev-ch-link {

}

.next-ch-link {
    text-align: right;
}

.home-link {
    font-style: italic;
    font-size: 1.2rem;
}

.home-chapter-link {
    font-size: 1.4rem;
}
